<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LA TOPERA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <script src="/api.js"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">{{titulo2}}<span>{{nombre}}</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			{{>menu}}

		<!-- Main -->
			<div id="main" class="container">
                <div class="videocurso">
                    <h2>Curso Javascript con Ernesto Ledesma</h2>
                    <br>
                    <section>    
                        <h4>Clase 1</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/kNsfzto9xoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                        <br>

                    <section>    
                        <h4>Clase 2</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/kNsfzto9xoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                        <br>

                    <section>    
                        <h4>Clase 3</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/kNsfzto9xoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                        <br>

                    <section>    
                        <h4>Clase 4</h4>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/kNsfzto9xoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
                    </section>
                        <br>

                    <script src="/api.js"></script>

                    </script>

                </div>
			</div>

		<!-- Footer -->
		{{>footer}}

	</body>
</html>