<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LA TOPERA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="/dn.js"></script>
		</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">{{titulo2}}<span>{{nombre}}</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			{{>menu}}

		<!-- Main -->
			<div id="main" class="container">

					<h2>Botonera</h2>
					<p>Descarga los mejores sonidos para tu botonera</p>
					<div class='elementocentrado'>
						<div class="botonera-descargas" >
							<section class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px" class="iconocentrado"><br><a href="/sonidos/turn-down-for-what.mp3"  class="button special small">Turn down for what </a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/chewbacca.swf.mp3" download="tchewbacca" class="button special small">chewbacca</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/gta-san-andreas-mission-complete-sound-hq.mp3" download="gta-san-andreas-mission-complete-sound-hq" class="button special small">gta SA mission complete</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/omae-wa-mou-shindeiru.mp3" download="omae-wa-mou-shindeiru" class="button special small">omae wa mou shindeiru</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/tano-pasman-nooooo.mp3" download="tano-pasman-nooooo" class="button special small">tano pasman nooooo</a></section>
							
							<section>
							<button onClick='reproducir('sonido1')'>prueba</button>
							<audio id='sonido1'>
								<source src="/sonidos/combobreaker.mp3" type="audio/mp3">
							</audio>
							</section>
							
						</div>
						<br>
						<br>
						<div class="botonera-descargas">
							
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/the-simpsons-nelsons-haha.mp3" download="the-simpsons-nelsons-haha" class="button special small">Nelsons haha</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/victoryff.swf.mp3" download="victoryff" class="button special small"> Victory ff </a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/combobreaker.mp3" download="combobreaker" class="button special small">combobreaker</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/fatality.swf.mp3" download="fatality" class="button special small">fatality swf</a></section>
							<section align='center'class="botonesdescargasonido"><img src="/images/descarga.png" alt="sadas" height="50px" width="50px"><br><a href="/sonidos/pickle_rick.mp3" download="pickle_rick" class="button special small">pickle_rick</a></section>
							
							

						</div>


					</div>

				<hr class="major" />

				<h2>Wallpaper</h2>

				<div class="wallpaper">

					<img src="/images/2593781.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593781.jpg" download="fondo1" class="button icon fa-download" class='hola'>Download</a><br><br>

					<img src="/images/2593818.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593818.jpg" download="fondo1" class="button icon fa-download">Download</a><br><br>

					<img src="/images/2593774.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593774.jpg" download="fondo1" class="button icon fa-download">Download</a><br><br>

				</div>

			</div>

		<!-- Footer -->
		{{>footer}}

	</body>
</html>