<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LA TOPERA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script>function reproducir(sonido){
    var elemento = document.getElementById(sonido);
    elemento.play();} </script>
		</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">{{titulo2}}<span>{{nombre}}</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			{{>menu}}

		<!-- Main -->
			<div id="main" class="container">

					<h2>Botonera</h2>
					<p>Descarga los mejores sonidos para tu botonera</p>
					<div class='elementocentrado'>
						<div class="botonera-descargas" >
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido1')" >Turn-down-for-what </button><audio id="sonido1"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/turn-down-for-what.mp3" download="turn-down-for-what">Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido2')" >Chewbacca</button><audio id="sonido2"><source src="/sonidos/chewbacca.swf.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/chewbacca.swf.mp3" download="tchewbacca" >Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido3')" >Gta SA mission complete </button><audio id="sonido3"><source src="/sonidos/gta-san-andreas-mission-complete-sound-hq.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/gta-san-andreas-mission-complete-sound-hq.mp3" download="gta-san-andreas-mission-complete-sound-hq">Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido4')" >Omae wa mou shindeiru</button><audio id="sonido4"><source src="/sonidos/omae-wa-mou-shindeiru.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/omae-wa-mou-shindeiru.mp3" download="omae-wa-mou-shindeiru" >Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido5')" >Tano pasman nooooo</button><audio id="sonido5"><source src="/sonidos/tano-pasman-nooooo.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/tano-pasman-nooooo.mp3" download="tano-pasman-nooooo" >Descargar</a></section>
							
							{{!-- <section><button onClick="reproducir('sonido1')">prueba</button><audio id="sonido1"><source src="/sonidos/combobreaker.mp3" type="audio/mpeg"></audio></section> --}}
							
						</div>
						<br>
						<br>
						<div class="botonera-descargas">
							
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido6')" >Nelsons haha </button><audio id="sonido6"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/the-simpsons-nelsons-haha.mp3" download="the-simpsons-nelsons-haha">Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido7')" >Victory ff </button><audio id="sonido7"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/victoryff.swf.mp3" download="victoryff"> Descargar </a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido8')" >Combobreaker </button><audio id="sonido8"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/combobreaker.mp3" download="combobreaker" >Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido9')" >Fatality swf</button><audio id="sonido9"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/fatality.swf.mp3" download="fatality" >Descargar</a></section>
							<section class="botonesdescargasonido"><button class="button special small" onClick="reproducir('sonido10')" >Pickle_rick</button><audio id="sonido10"><source src="/sonidos/turn-down-for-what.mp3" type="audio/mpeg"></audio><br><a href="/sonidos/pickle_rick.mp3" download="pickle_rick" >Descargar</a></section>
							
							

						</div>


					</div>

				<hr class="major" />

				<h2>Wallpaper</h2>

				<div class="wallpaper">

					<img src="/images/2593781.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593781.jpg" download="fondo1" class="button icon fa-download" class='hola'>Download</a><br><br>

					<img src="/images/2593818.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593818.jpg" download="fondo1" class="button icon fa-download">Download</a><br><br>

					<img src="/images/2593774.jpg"  alt="lala" class="elementocentrado"><br>
					<a href="/images/2593774.jpg" download="fondo1" class="button icon fa-download">Download</a><br><br>

				</div>

			</div>

		<!-- Footer -->
		{{>footer}}

	</body>
</html>